<%- include('partials/header.ejs') %>

<section class="container my-auto" style="margin-top: 200px !important;">
    <form action="/movie" method="GET">
   Search: <input type="text" id ="searchtxt" name="search"/> 
   <input type="submit">
</form>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">imdbID</th>
        <th scope="col">Type</th>
        <th scope="col">Poster</th>
      </tr>
    </thead>
    <tbody>
        <% if(movies && movies.length){%>
      <%  for(var i=0; i< movies.length;i++) { %>
        <tr>
            <th scope="row"><%= i+1%></th>
            <td><%= movies[i].Title %></td>
            <td><%= movies[i].Year %></td>
            <td><%= movies[i].imdbID %></td>
            <td><%= movies[i].Type %></td>
            <td><img src="<%= movies[i].Poster %>"></td>
          </tr>
       <% } %>
       <% }%>
      
    </tbody>
  </table>
</section>
  <%-include ('partials/footer.ejs') %>